.header {
  height: 76px;
  padding: 0 30px;
  display: flex;
  align-items: center;
}
.header > nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header > nav .menu {
  width: 35px;
  height: 25px;
  padding: 2px 0;
  display: none;
  flex-direction: column;
  justify-content: space-between;
}
.header > nav .menu > span {
  display: block;
  background-color: #000;
  height: 2px;
}
.header > nav > ul {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.header > nav > ul > li {
  position: relative;
  list-style: none;
}
.header > nav > ul > li > a {
  color: black;
  text-decoration: none;
}
.header > nav > ul > li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: rgb(0, 0, 0);
  transition: all 0.2s linear;
}
.header > nav > ul > li:hover::after {
  width: 100%;
}

.contenttitle .boxtop {
  height: 450px;
  background-color: #f6f6f6;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  row-gap: 20px;
}
.contenttitle .boxtop > h1 {
  text-align: center;
  font-size: 5rem;
  font-weight: 100;
}
.contenttitle .boxtop > p {
  text-align: center;
  font-size: 1.3rem;
}
.contenttitle .boxtop .boxbtn {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.contenttitle .boxtop .boxbtn > a:nth-of-type(1) {
  background-color: #4353ff;
}
.contenttitle .boxtop .boxbtn > a:nth-of-type(2) {
  background-color: #000;
}
.contenttitle .boxtop .boxbtn > a {
  display: block;
  width: 218;
  height: 60;
  padding: 15px 30px;
  color: #fff;
  text-decoration: none;
}
.contenttitle .boxbottom {
  position: relative;
  height: 35vw;
  background-color: #f6f6f6;
}
.contenttitle .boxbottom > img {
  position: absolute;
  bottom: 0;
}
.contenttitle .boxbottom > img:nth-of-type(1) {
  z-index: 1;
  left: 0;
  width: 35vw;
}
.contenttitle .boxbottom > img:nth-of-type(2) {
  z-index: 2;
  right: 100px;
  width: 38vw;
}
.contenttitle .boxbottom > img:nth-of-type(3) {
  z-index: 5;
  left: 50%;
  transform: translateX(-50%);
  width: 48vw;
}
.contenttitle .boxbottom > img:nth-of-type(4) {
  z-index: 2;
  left: 100px;
  width: 38vw;
}
.contenttitle .boxbottom > img:nth-of-type(5) {
  z-index: 1;
  right: 0;
  width: 35vw;
}

.maincontent h2 {
  font-size: 40px;
  font-weight: 100;
  margin: 35px 10px 30px 30px;
}
.maincontent .boxitems {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  row-gap: 30px;
}

.itemstemplate {
  width: 42vw;
  height: 30vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.itemstemplate > img {
  display: block;
  flex-grow: 1;
}
.itemstemplate > div {
  height: 80px;
  padding: 10px;
}
.itemstemplate > div > div {
  display: flex;
  justify-content: space-between;
}
.itemstemplate > div > div > p {
  font-size: 20px;
}
.itemstemplate > div > p {
  margin-top: 10px;
}

.contentfeature h2 {
  font-size: 40px;
  font-weight: 100;
  margin: 35px 10px 30px 30px;
}
.contentfeature .boxitems {
  padding: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 80px;
}

.itemsfeature > i {
  font-size: 30px;
}
.itemsfeature .name {
  margin-top: 10px;
  font-size: 25px;
  font-weight: 400;
}
.itemsfeature .detail {
  color: #4d4c4c;
  margin-top: 10px;
  line-height: 1.5rem;
}

@media screen and (max-width: 1000px) {
  .contenttitle h1 {
    font-size: 4rem !important;
  }
}
@media screen and (max-width: 900px) {
  .contentfeature .boxitems {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 850px) {
  .maincontent .boxitems {
    grid-template-columns: 1fr;
  }
  .itemstemplate {
    width: 68vw;
    height: 48vw;
  }
}
@media screen and (max-width: 705px) {
  .header {
    position: relative;
  }
  .header .menu {
    width: 35px;
    height: 25px;
    padding: 2px 0;
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
  }
  .header .menu > span {
    display: block;
    background-color: #000;
    height: 2px;
    transform-origin: right;
    transition: all 0.5s;
  }
  .header .menu .addhidspan2 {
    transform: scaleX(0);
  }
  .header .menu .addspanx1 {
    transform: rotate(-32deg);
  }
  .header .menu .addspanx2 {
    transform: rotate(35deg);
  }
  .header ul {
    position: absolute;
    right: 30px;
    top: 76px;
    height: 0;
    background-color: #fff;
    transition: all 0.2s linear;
    overflow: hidden;
    flex-direction: column;
    row-gap: 5px;
  }
  .header .addshowmenu {
    height: 100px;
  }
  .header .addhiddenmenu {
    height: 0;
  }
}
@media screen and (max-width: 630px) {
  .contenttitle .boxtop h1 {
    font-size: 2.5rem !important;
  }
  .contenttitle .boxtop .boxbtn {
    flex-direction: column;
    row-gap: 20px;
  }
}
@media screen and (max-width: 530px) {
  .contentfeature .boxitems {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 405px) {
  .contenttitle .boxtop h1 {
    font-size: 2.5rem !important;
  }
}/*# sourceMappingURL=App.css.map */